
((digest . "cf5a19e787a1865abda155f3a7bc32ae") (undo-list nil ("    </header>" . 324) nil ("    <header class=\"navbar navbar-fixed-top navbar-inverse\">" . 286) (t 23030 36123 0 0) nil (569 . 589) (t 23030 36117 0 0) nil ("        <%= yield %>" . 569) (t 23030 36110 0 0) nil (569 . 589) (t 23030 36104 0 0) nil ("        <%= yield %>" . 569) (t 23030 33543 0 0) nil (381 . 382) (">" . -381) (380 . 382) nil (375 . 380) nil ("r" . -375) ((marker . 85) . -1) 376 nil (372 . 376) nil (371 . 372) nil (370 . 371) nil (367 . 370) nil (365 . 367) nil ("'>" . 365) nil (364 . 365) nil (354 . 365) nil (353 . 354) (352 . 354) ("<" . -352) (352 . 353) nil ("M" . -352) ((marker . 85) . -1) 353 nil (352 . 353) nil (346 . 352) nil (346 . 347) nil ("      <div class=\"container\">
        <%= link_to \"レシコミ\", root_path, id: \"logo\" %>
        <nav>
          <ul class=\"nav navbar-nav navbar-right\">
            <li>
              <%= link_to \"Home\",   root_path %>
            </li>
            <li>
              <%= link_to \"Help\",   help_path %>
            </li>
            <li>
              <%= link_to \"Log in\", signup_path %>
            </li>
            <li>
              <%= link_to \"残り物リスト\", list_path %>
            </li>
            <li>
              <%= link_to \"レシートを登録する\", receipt_input_path %>
            </li>
          </ul>
        </nav>
      </div>
" . 346) ((marker . 1) . -214) ((marker . 85) . -597) ((marker . 615) . -626) ((marker . 287) . -383) ((marker . 287) . -383) ((marker . 287) . -332) ((marker . 287) . -332) ((marker . 287) . -485) ((marker . 287) . -485) ((marker . 287) . -502) ((marker . 287) . -502) ((marker . 287) . -519) ((marker . 287) . -418) ((marker . 287) . -418) ((marker . 287) . -546) ((marker . 287) . -549) ((marker . 287) . -597) ((marker . 85) . -597) ((marker . 85) . -626) ((marker . 1) . -419) ((marker . 287) . -148) ((marker) . -626) ((marker . 287) . -1) ((marker . 497) . -148) ((marker . 498) . -149) ((marker . 497) . -383) ((marker . 498) . -384) ((marker . 287) . -332) ((marker . 288) . -333) ((marker . 287) . -485) ((marker . 288) . -486) ((marker . 287) . -502) ((marker . 288) . -503) ((marker . 287) . -519) ((marker . 288) . -520) ((marker . 287) . -418) ((marker . 288) . -419) ((marker . 287) . -546) ((marker . 288) . -547) ((marker . 287) . -549) ((marker . 288) . -550) 972 (t 23030 32654 0 0) nil (" " . -801) ((marker . 615) . -1) 802 nil (" " . -802) ((marker . 615) . -1) 803 nil ("#" . -867) ((marker . 25) . -1) ((marker . 615) . -1) ((marker . 287) . -1) 868 (t 23030 32180 0 0) nil (867 . 868) (t 23029 38948 0 0) nil undo-tree-canary))
